.reveal {
    font-family: "Open Sans", Consolas, "Liberation Mono", Menlo, Courier, monospace, sans-serif;
}
.reveal pre {
    padding: 1em;
}
.slides table {
    border: solid 1px gray;
    width: 100%;
}
.slides table td {
    border: solid 1px gray;
    padding: 0.35em 1em;
}
.slides ul li {
    padding: 0.1em 1em 0.1em 0;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: "Open Sans", Consolas, "Liberation Mono", Menlo, Courier, monospace, sans-serif;
}

.reveal .present h1 {
    font-size: 3em;
}
